{% extends "auctions/layout.html" %}

{% block body %}

{% if message %}
{{ message }}
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-10 mx-auto">
            <div class="card card-signin flex-row my-5">

                <div class="card-body">
                    <h5 class="card-title text-center">Create Listing</h5>
                    <form class="" action="{% url 'create' %}" method="post">
                        {% csrf_token %}
                        <div class="">
                            {{ form.as_p }}
                        </div>
                        <div class="">
                            {{ bid_form.as_p }}
                        </div>
                        <button class="btn btn-lg btn-dark btn-block" type="submit">Create</button>
                    </form>
                </div>
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
