{% extends "auctions/layout.html" %}

{% block body %}

    {% if user.is_authenticated %}
        <div class="alert alert-success" role="alert">
            Signed in as <strong>{{ user.username }}</strong>.
        </div>
    {% else %}
        <div class="alert alert-danger" role="alert">
            Not signed in.
        </div>
    {% endif %}

    <div class="container">

        <div class="row">

            <div class="categories_bar col-lg-3">

                <h1 class="my-4 text-light">Active Listings</h1>
                <div class="list-group">
                    <a class="list-group-item list-group-item-dark">Categories</a>
                    {% for category in categories %}
                        <a href="#" class="list-group-item text-dark">{{category.name}}</a>
                    {% endfor %}
                    <a class="btn btn-dark" href="{% url 'create' %}" role="button">Create New Listing</a>

                </div>

            </div>

            <!-- Printing items -->
            {% if items is None %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{% url 'item' %}">No items available</a>
                            </h4>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Create one!</small>
                        </div>
                    </div>
                </div>
            {% else %}
                {% for item in items %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="{% url 'item' item.name %}"><img class="card-img-top" src="{{ item.image }}" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="{% url 'item' item.name %}"">{{ item.name }}</a>
                                </h4>
                                <h5>${{item.current_price}}</h5>
                                <p class="card-text">{{ item.description }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Posted in {{ item.date }}</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}
