{% extends "auctions/layout.html" %}

{% block body %}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="categories_bar col-lg-3">
            <h1 class="my-4 text-light">Item nº {{item.id}}</h1>
            <div class="list-group">
                <a href="{% url 'index' %}" class="list-group-item text-dark">Back to Active Listings</a>
            </div>
        </div>



        <div class="col-lg-8">

            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="{{item.image}}" alt="">
                <div class="card-body">
                    <h3 class="card-title">{{ item.name }}</h3>

                    <!-- Price area -->
                    {% if item.status %}
                        <h4>Current price: ${{ item.current_price }}.</h4>
                    {% else %}
                        <h4>Item sold for ${{ bid.value }}.</h4>
                        {% if bid.buyer == user %}
                            <h4>Congratulations {{ bid.buyer }}! You won the auction!</h4>
                        {% endif %}
                    {% endif %}

                    <!-- Bid update message -->
                    {% if bid.buyer is not empty %}
                        <p><small class="text-muted">Last bid of ${{bid.value}} made by {{bid.buyer}} on {{bid.date}}</small></p>
                    {% else %}
                        <p><small class="text-muted">No one has bid on this item yet.</small></p>
                    {% endif %}

                    <!-- Buttons area.  -->
                        {% if item.status %}
                            <a href="{% url 'make_bid' item.id %}" class="btn btn-dark">Make a Bid</a>
                        {% endif %}

                        {% if watchlist_validation %}
                            <div class="button-item">
                                <form class="" action="{% url 'add_watchlist' item.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-dark" id="form-btn">Add to Watchlist</button>
                                </form>
                            </div>
                        {% else %}
                            <div class="button-item">
                                <form class="" action="{% url 'remove_watchlist' item.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-dark">Remove from Watchlist</button>
                                </form>
                            </div>
                        {% endif %}

                        {% if item.owner == user %}
                            <div class="button-item">
                                <form class="" action="{% url 'close_auction' item.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-dark">Close Auction</button>
                                </form>
                            </div>
                        {% endif %}
                    <!--
                    {% if user.is_authenticated %}

                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-dark">Make a Bid</a>
                        <a href="{% url 'login' %}" class="btn btn-dark">Add to Watchlist</a>
                    {% endif %}-->
                </div>

            </div>

            <!-- Description Area -->
            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Description
                </div>
                <div class="card-body">
                    <div class="card-text">
                        {{item.description}}
                        <p>Category: {{item.category}}</p>
                    </div>
                    <p><small class="text-muted">Item posted by {{item.owner}} on {{item.date}}</small></p>
                </div>
            </div>

            <!-- Comments area -->

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Comments
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>
                    <a href="#" class="btn btn-success">Leave a Review</a>
                </div>
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

    </div>

</div>
<!-- /.container -->

{% endblock %}
